<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item"> <a href="#" class="nav-link active py-3 border-bottom"> <i class="fa fa-home"></i> <small>Home</small> </a> </li>
    <li> <a href="#" class="nav-link py-3 border-bottom"> <small>Today's Movies</small> </a> </li>
    <li> <a href="#" class="nav-link py-3 border-bottom"><small>Top Movies</small> </a> </li>
    <li> <a href="#" class="nav-link py-3 border-bottom"><small>Top Series</small> </a> </li>
    <li> <a href="#" class="nav-link py-3 border-bottom"><small>Reviews</small> </a> </li>
  </ul>
</div>
